<section>
  <h2>Home Layout</h2>

  <div class="row">
    <div class="col-sm-4">
      <uib-progressbar value="55">
        ITA Keep Going ==>
      </uib-progressbar>

      <button class="btn btn-primary">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        I'm feeling OK
      </button>
      <button class="btn btn-danger">
        I'm not OK
      </button>
      <button class="btn btn-default">
        Strict boy
      </button>


    </div>
  </div>

</section>